title{
    color: black;
    font-size: larger xx-large;
}
h1{
    color: blue;
    font-size: larger;
}
h2{
    font-size: large;
    color: black;
    font-style: italic;
}
body{
    background-color: chartreuse;

}
    
}