title{
    color: black;
    font-size: larger xx-large;
}
h1{
    color: blue;
    font-size: larger;
}
h2{
    font-size: large;
    color: black;
 
}
body{
    background-color:red

}
test-box{
    border: 10px solid:blue
    padding: 30px;
}
img{
    float: left;
    border-inline-width: 10px;
}
sidebar{
    width: 30%;
    float: right;
}
